export_syms
machine
x86

kmod/vnode_if*.h
kmod/offset.inc
slos/vnode_if*.h

shim/shim.pico
shim/*.so
shim/tests/test

tests/array/array
tests/compute/compute
tests/fd/fd
tests/fork/fork
tests/llist/llist
tests/memory/memory
tests/mmap/mmap
tests/multithread/multithread
tests/print/print
tests/register/register
tests/signal/signal
tests/sleep/sleep
tests/unlink/unlink


tools/dumpcompose/dumpcompose
tools/newosd/newosd
tools/slsctl/slsctl
tools/slsdb/slsdb

*.a
*.ko
*.o
*.po
*.x
.*.swp
*.debug
*.full
*.core
*.depend*
*~*
*garbage*
.nfs*
tags
*.out
go.sh
*.pico
*.so
test
*.inc
