export_syms
machine
x86
*/offset.inc
*/vnode_if*.h

benchmarks/posix/posix
benchmarks/vmobject/vmobject
benchmarks/vmregion/vmregion

tests/testbench.log
tests/ktrdump.log
tests/array/array
tests/compute/compute
tests/delta/delta
tests/fd/fd
tests/fifo/fifo
tests/fork/fork
tests/forkshm/forkshm
tests/forkwait/forkwait
tests/journal/journal
tests/kqueue/kqueue
tests/llist/llist
tests/main/main
tests/memory/memory
tests/memsnap/memsnap
tests/metropolis/metropolis
tests/mmap/mmap
tests/multithread/multithread
tests/pgroup/pgroup
tests/pipe/pipe
tests/posixshm/posixshm
tests/print/print
tests/metroclient/metroclient
tests/metrodelta/metrodelta
tests/metroparts/metroparts
tests/metroserver/metroserver
tests/metrosimple/metrosimple
tests/register/register
tests/sas/sas
tests/sasfork/sasfork
tests/sasipc/sasipc
tests/selfie/selfie
tests/sharemap/sharemap
tests/signal/signal
tests/sleep/sleep
tests/slsfs/file
tests/socketpair/socketpair
tests/sysvshm/sysvshm
tests/testfile
tests/tcplisten/tcplisten
tests/udplisten/udplisten
tests/unixlisten/unixlisten
tests/unlink/unlink
tests/wal/wal
tests/walfd/walfd
tests/pgresident

scripts/config.sh

tools/newfs_sls/newfs_sls
tools/radixdbg/radixdbg
tools/server/server
tools/slsctl/slsctl
tools/slsdb/slsdb

test.sh
load.sh
unload.sh
sls.sh

output/

*.a
*.ko
*.o
*.po
*.x
.*.swp
*.debug
*.full
*.core
*.depend*
*~*
*.tmp
*garbage*
.nfs*
ckpt.sh
cleanup.sh
offset.inc
tags
compile_commands.json
vnode_if*
cscope.out
localsocket
slsfifo
slssysvshm
.clangd
.ccls-cache
dd.sh
load.sh
sky.sk
sls.sh
unload.sh
out
index*
*.rdb
*.aof
redis_*
nginx_*
lighttpd_*
memcached_*
vmobject-*

criuimage
redisinput
criu-results/
*.tar
*.gz
stats.*
dtraceoutput
__pycache__
