export_syms
machine
x86

tests/array/array
tests/compute/compute
tests/mmap/mmap
tests/multithread/multithread
tests/print/print
tests/register/register
tests/signal/signal
tests/sleep/sleep

tools/hexdump/slsmm_hexdump
tools/procdump/procdump
tools/procrestore/procrestore

*.ko
*.o
*.x
.*.swp
*.debug
*.full
*.core
*.depend*
